{% extends 'layouts/base.html' %}
{% load static %}

{% block main %}
{% if plot %}
<main class="d-flex flex-column" style="flex: 1;">
    <div class="container py-5 d-flex flex-column align-items-center justify-content-center flex-fill">
        <h1>Система полива</h1>
        <img
                src="{% static 'assets/irrigation_system_images/main_5.png' %}"
                class="img-fluid rounded shadow"
                style="max-width: 700px; width: 100%; object-fit: contain;"
                alt="Main image"
        >
        <div class="row g-3 mt-4 justify-content-center"
             style="max-width: 1000px; min-width:250px;width: 100%; font-size:20px;">
            <div class="col-6 col-md-4" style="margin-top:25px">
                <div class="border rounded w-100 py-3 shadow-sm text-center text-secondary"
                     style="border-color: #6c757d;">
                    <span class="small">{% if not result %} Система готова к поливу растений, нажмите на кнопку, чтобы полить все растения{% else %} {{result}} {% endif %}</span>
                </div>
            </div>


            <div class="col-6 col-md-4" style="margin-top:45px;">
                <form action="{% url 'irrigation_system:index' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success w-100 py-3 shadow-sm" >
                        <i class="bi-play-fill fs-4 me-2"></i>
                        Полить
                    </button>
                </form>
            </div>
        </div>
    </div>
</main>
{% else %}
<main class="d-flex flex-column" style="flex: 1;">
    <div class="container py-5 d-flex flex-column align-items-center justify-content-center flex-fill">
        {% include 'layouts/plot_is_not_created.html' %}
    </div>
</main>
{% endif %}
{% endblock main %}