{% extends 'layouts/base.html' %}
{% load static %}


{% block main %}
    {%  if not plot %}
        <main class="d-flex flex-column" style="flex: 1;">
            <div class="container py-5 d-flex flex-column align-items-center justify-content-center flex-fill">
                {% include 'layouts/plot_is_not_created.html' %}
            </div>
        </main>
    {% endif %}

    {% if plot and not recreation_area %}
        <main class="d-flex flex-column" style="flex: 1;">
            <div class="container py-5 d-flex flex-column align-items-center justify-content-center flex-fill">
                {% include 'layouts/recreation_area_is_not_created.html' %}
            </div>
        </main>
    {% endif %}

{% endblock main %}

{% block header_main %}{% if recreation_area %}Декор{% endif %}{% endblock header_main %}

{% block href_add_new %}
{% if recreation_area %}
<div style="margin-top:10px;">
    <a type="button" href="add_new_elem_of_decor.html"class="btn btn-success">Добавить элемент декора</a>
</div>
<div style="margin-top:10px;">
    <a type="button" href="{% url 'recreation_area:recreation_area_info' %}" class="btn btn-primary">Настройки зоны отдыха</a>
</div>
<div style="margin-top:10px;">
    <a type="button" href="{% url 'recreation_area:grill' %}"class="btn btn-warning">Гриль</a>
</div>
{% endif %}
{% endblock href_add_new %}

{% block filter %}
{% endblock filter %}

{% block include %}
{% if recreation_area %}
<div style="display: flex; gap: 15px; flex-wrap: wrap; margin-top:20px; align-items: stretch;">
{% for fitting in fittings %}
    <div class="card" style="width: 18rem; display: flex; flex-direction: column;">
        <img src="{{fitting.image.url}}" class="card-img-top" alt="...">
        <div class="card-body" style="display: flex; flex-direction: column;">
            <h5 class="card-title">{{fitting.name}}</h5>
            <div style="display:flex; flex-wrap:nowrap; gap:40px;">
                <button type="button" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endif %}
{% endblock include %}

{% block pagination %}
{% if recreation_area %}
{% include 'layouts/pagination.html' %}
{% endif %}
{% endblock pagination %}




