{% extends 'layouts/base.html' %}
{% load static %}

{% block main %}
{% endblock %}

{% block header_main %}Декор{% endblock header_main %}

{% block href_add_new %}
<div style="margin-top:10px;">
    <a type="button" href="add_new_elem_of_decor.html"class="btn btn-success">Добавить элемент декора</a>
</div>
<div style="margin-top:10px;">
    <a type="button" href="recreation_area_settings.html"class="btn btn-primary">Настройки зоны отдыха</a>
</div>
{% endblock href_add_new %}

{% block filter %}
<div style="margin-top:10px;margin-left:auto">
    <select class="form-select" aria-label="Default select example">
    <option selected>Open this select menu</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
    </select>
</div>
{%endblock filter %}

{% block include %}
{% for fitting in fittings %}
    <div class="card" style="width: 18rem; display: flex; flex-direction: column;">
        <img src="{{fitting.image.url}}" class="card-img-top" alt="...">
        <div class="card-body" style="display: flex; flex-direction: column;">
            <h5 class="card-title">{{fitting.name}}</h5>
            <div style="display:flex; flex-wrap:nowrap; gap:40px;">
                <button type="button" class="btn btn-info">Использовать</button>
                <button type="button" class="btn btn-danger">Удалить</button>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock include %}

{% block pagination %}
{% include 'layouts/pagination.html' %}
{% endblock pagination %}



