{% extends 'layouts/base.html' %}
{% load static %}

{% block main %}
<main class="d-flex flex-column" style="flex: 1;">
    <div class="container-fluid px-0 d-flex flex-column flex-fill">
        <div class="row g-0 flex-fill">
            <div class="col-12 position-relative p-5">
                <div style="margin-bottom:20px; text-align:center">
                    <h1>Настройки зоны отдыха</h1>
                </div>
                {% if recreation_area %}
                <div class="card" style="max-width: 500px; margin: 100px auto;">
                    <div class="card-header bg-info text-white">
                        <h5 class="card-title mb-0">Ваша зона отдыха</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between">
                                <strong>Площадь:</strong> {{recreation_area.square }} м²
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <strong>Периметр:</strong> {{ recreation_area.perimeter }} м
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                                <strong>Количество элементов декора:</strong> {{decor_count}}
                            </li>
                            <li class="list-group-item d-flex justify-content-between">
                            </li>
                        </ul>
                        <div style="text-align: center; margin:10px">
                            <form action="{% url 'recreation_area:delete_recreation_area' %}" method="post">
                                {% csrf_token %}
                                <button type=submit class="btn btn-danger btn-lg mt-4 px-5">
                                    Удалить
                                </button>
                                <a href="{% url 'recreation_area:index'%}" type="submit" class="btn btn-warning btn-lg mt-4 px-5">Отмена</a>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                    {% include 'layouts/recreation_area_is_not_created.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock main %}

{% block cards %}
{% endblock cards %}