.vscode/
.idea

#images
images/
icons/

#qrc
qrc/

#__pycache__
src/interface/__pycache__/
src/interface/ui/__pycache__/
src/interface/qrc/__pycache__/
src/main/__pycache__/
src/data_processing/db/__pycache__/
src/data_processing/db/models/__pycache__/
src/validator/__pycache__/
src/exceptions/__pycache__/
src/__pycache__/
src/controllers/__pycache__/

#enviroment
.env