{% extends 'layouts/base.html' %}
{% load static %}

{% block main %}
    <main class="d-flex flex-column" style="flex: 1;">
        <div class="container-fluid px-0 d-flex flex-column flex-fill">
            <div class="row g-0 flex-fill">
                <div class="col-12 position-relative p-0">
                    <img
                            src="{% static 'assets/img/main_3.png' %}"
                            class="w-100"
                            style="height: 100%; min-height: 400px; object-fit: cover; display: block;">
                    <div class="position-absolute top-0 start-0 w-100 h-100"
                         style="background: rgba(0,0,0,0.4);backdrop-filter:blur(2.5px);">
                    </div>
                    <div class="position-absolute top-50 start-50 translate-middle text-center text-white">
                        <div style="margin-bottom:200px;"><h2 class="fw-bold" style="font-size:70px;">Спланируй свой
                            участок</h2></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock main %}
